<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="page" content="home page">
    <link rel="stylesheet" href="/css/index.css">
    <title>keep.memories.com</title>
</head>
<body>
    <section class="home-page">
        <h1>Welcome to keep.memories.com api</h1>
        <br>
        <a href="https://keep-memories.netlify.app" target="_blank">click here to head to the public page.</a>
    </section>
</body>
</html>