.login-section-page {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--primary-color);
  gap: 3em;
  flex-flow: row wrap;
  /* border: 1px solid red; */
  /* background-image: url(../../public/photos/wallpaper-2.jpg);
  background-position: right;
  background-repeat: no-repeat;
  background-size: 100%; */
}
.login-section-page aside[class="__wrapper"] {
  min-height: 100vh;
  width: min(90%, 25em);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 3em;
  flex-flow: row wrap;
  /* border: 1px solid red; */
  border-radius: .0em;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.login-section-page aside[class="__wrapper"] > div {
  min-height: 30em;
  width: min(90%, 25em);
  display: flex; 
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid red; */
  flex-direction: column;
}
.login-section-page aside[class="__wrapper"] > form {
  height: 30em;
  width: min(90%, 25em);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid red; */
  flex-direction: column;
}
.login-section-page aside[class="__wrapper"] > form :is(h1) {
  font-size: 2em;
  font-weight: normal;
  color: #101010;
}
.login-section-page aside[class="__wrapper"] > form :is(p) {
  font-size: .8em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
}
.login-section-page aside[class="__wrapper"] > div :is(h1) img {
  height: 1.3em;
  width: 1.3em;
}
.login-section-page aside[class="__wrapper"] > form :is(input[type="text"]) {
  height: 3em;
  width: min(100%, 100%);
  border: none;
  border-bottom: 2px solid var(--primary-color);
  background-color: transparent;
  color: #101010;
}
.login-section-page aside[class="__wrapper"] > form :is(input[type="email"])::placeholder {
  font-size: 1.1em;
}
.login-section-page aside[class="__wrapper"] > form :is(input[type="password"])::placeholder {
  font-size: 1.1em;
}
.login-section-page aside[class="__wrapper"] > form :is(input[type="password"]) {
  height: 3em;
  width: min(100%, 100%);
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 60%);
  background-color: transparent;
  color: #101010;
}
.login-section-page aside[class="__wrapper"] > form :is(input[type="email"]) {
  height: 3em;
  width: min(100%, 100%);
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 60%);
  background-color: transparent;
  color: #101010;
}
.login-section-page aside[class="__wrapper"] > form :is(span) {
  font-weight: normal;
  font-size: 0.9em;
}
.login-section-page aside[class="__wrapper"] > div :is(p) {
  color: #101010;
  font-weight: normal;
  font-size: 0.9em;
}
.login-section-page aside[class="__wrapper"] > div :is(span) {
  font-size: 0.9em;
}
.login-section-page aside[class="__wrapper"] > div :is(span) > a {
  color: #101010;
}
.login-section-page aside[class="__wrapper"] > form :is(article) {
  min-height: 1em;
  width: min(90%, 90%);
  display: flex;
  gap: 0.4em;
  font-size: 0.9em;
  font-weight: normal;
  cursor: pointer;
}
.login-section-page aside[class="__wrapper"] > form :is(div) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
.login-section-page aside[class="__wrapper"] > form :is(a) {
  width: 10em;
  flex-grow: 1;
}
.login-section-page aside[class="__wrapper"] > form :is(button) {
  height: 3em;
  width: 9em;
  border: none;
  background-color: var(--primary-color);
  border-radius: 0.3em;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  flex-grow: 1;
}

/*  */
.signup-section-page {
  min-height: 100vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: var(--primary-color);
  gap: 3em;
  flex-flow: row wrap;
  /* border: 1px solid red; */
}
.signup-section-page aside[class="__wrapper"] {
  min-height: 100vh;
  width: min(90%, 25em);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 3em;
  flex-flow: row wrap;
  /* border: 1px solid red; */
  border-radius: .0em;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.signup-section-page aside[class="__wrapper"] > div {
  height: 20em;
  width: min(90%, 25em);
  display: flex; 
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid red; */
  flex-direction: column;
}
.signup-section-page aside[class="__wrapper"] > form {
  min-height: 20em;
  width: min(90%, 30em);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* border: 1px solid red; */
  flex-direction: column;
}
.signup-section-page aside[class="__wrapper"] > form :is(h1) {
  font-size: 2em;
  font-weight: normal;
  color: #101010;
}
.signup-section-page aside[class="__wrapper"] > form :is(p) {
  font-size: .8em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
}
.signup-section-page aside[class="__wrapper"] > div :is(h1) img {
  height: 1.3em;
  width: 1.3em;
}
.signup-section-page aside[class="__wrapper"] > form :is(input[type="text"]) {
  height: 3em;
  width: min(100%, 100%);
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 70%);
  background-color: transparent;
  color: #101010;
}
.signup-section-page aside[class="__wrapper"] > form :is(input[type="password"]) {
  height: 3em;
  width: min(100%, 100%);
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 70%);
  background-color: transparent;
  color: #101010;
}
.signup-section-page aside[class="__wrapper"] > form :is(input[type="email"]) {
  height: 3em;
  width: min(100%, 100%);
  border: none;
  border-bottom: 2px solid hsl(0, 0%, 70%);
  background-color: transparent;
  color: #101010;
}
.signup-section-page aside[class="__wrapper"] > form :is(input[type="email"])::placeholder {
  font-size: 1.1em;
}
.signup-section-page aside[class="__wrapper"] > form :is(input[type="text"])::placeholder {
  font-size: 1.1em;
}
.signup-section-page aside[class="__wrapper"] > form :is(input[type="password"])::placeholder {
  font-size: 1.1em;
}
.signup-section-page aside[class="__wrapper"] > form :is(span) {
  font-weight: normal;
  font-size: 0.9em;
}
.signup-section-page aside[class="__wrapper"] > div :is(p) {
  color: #101010;
  font-weight: normal;
  font-size: 0.9em;
}
.signup-section-page aside[class="__wrapper"] > div :is(span) {
  font-size: 0.9em;
}
.signup-section-page aside[class="__wrapper"] > div :is(span) > a {
  color: #101010;
}
.signup-section-page aside[class="__wrapper"] > form :is(article) {
  min-height: 1em;
  width: min(90%, 90%);
  display: flex;
  gap: 0.4em;
  font-size: 0.9em;
  font-weight: normal;
  cursor: pointer;
}
.signup-section-page aside[class="__wrapper"] > form :is(div) {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
}
.signup-section-page aside[class="__wrapper"] > form :is(a) {
  width: 10em;
  flex-grow: 1;
}
.signup-section-page aside[class="__wrapper"] > form :is(button) {
  height: 3em;
  width: 8em;
  border: none;
  background-color: var(--primary-color);
  border-radius: 0.3em;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  flex-grow: 1;
}


aside[class="photo-view"] {
  height: 100vh;
  width: min(100%, 100%);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-flow: column nowrap;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  gap: 1em;
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] {
  height: 100%;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-flow: row wrap;
  gap: 0em
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] div {
  min-height: 100vh;
  /* border: 1px solid red; */
  width: min(90%, 50em);
  flex-grow: 1;
  display: flex;
  align-items: center;
  flex-grow: 1;
  justify-content: center;
  flex-direction: row;
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] div :is(img) {
  aspect-ratio: 19/16;
  width: min(90%, 40em);
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside {
  height: 100vh;
  width: min(100%, 25em);
  background-color: #fff;
  display: flex;
  align-items: center;
  /* border: 1px solid red; */
  justify-content: center;
  flex-direction: row;
  flex-grow: 1;
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside :is(div[class="wrapper"]) {
  height: 100%;
  width: min(90%, 90%);
  /* border: 1px solid red; */
  flex-grow: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 1.5em
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside :is(div[class="wrapper"]) ul {
  display: flex;
  flex-direction: column;
  gap: .5em;
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside :is(div[class="wrapper"]) h1 {
  font-size: 2em;
  color: hsl(0, 0%, 10%);
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside :is(div[class="wrapper"]) p {
  font-size: .9em;
  color: hsl(0, 0%, 10%);
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside :is(div[class="wrapper"]) ul > li {
  list-style-type: none;
  list-style: none;
  font-size: .9em;
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside :is(div[class="wrapper"]) a {
  min-height: 1em;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-decoration: none;
}
aside[class="photo-view"] > div[class="photo-view-wrapper"] aside :is(div[class="wrapper"]) a > button {
  height: 4em;
  width: min(100%, 100%);
  border: none;
  border-radius: 10em;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}


/*  */
section[class="admin-dashboard-section-page"] {
  min-height: 60vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}
section[class="admin-dashboard-section-page"] > h1 {
  font-size: 2em;
  font-weight: bold;
  color: hsl(0, 0%, 20%);
  text-align: center;
}
section[class="admin-dashboard-section-page"] > p {
  font-size: 0.9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  max-width: 60em;
  text-align: center;
}
section[class="admin-dashboard-section-page"] > button {
  height: 3em;
  width: 5em;
  border-radius: 0.3em;
  color: hsl(0, 0%, 50%);
  background-color: hsl(0, 0%, 100%);
  border: none;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 80%);
  font-size: 2em;
}
section[class="admin-dashboard-section-page"] > div {
  min-height: 40vh;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.5em;
  flex-flow: row wrap;
}
section[class="admin-dashboard-section-page"] > div > .img-wrapper  {
  min-height: 30vh;
}
section[class="admin-dashboard-section-page"] :is(article) {
  height: 19em;
  width: min(95%, 18em);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eee;
  flex-direction: column;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.4em;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
section[class="admin-dashboard-section-page"] :is(article) > img {
  height: 19em;
  width: min(100%, 100%);
}
section[class="admin-dashboard-section-page"] :is(article) > img:is(:hover) {
  scale: 1.2;
}
section[class="admin-dashboard-section-page"] :is(article) > div {
  height: 5em;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  left: 0px;
  gap: 0em;
  background-color: transparent;
}
section[class="admin-dashboard-section-page"]
  :is(article)
  > div
  :where(section) {
  height: 2em;
  width: min(90%, 90%);
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  flex-direction: column;
  color: #fff;
}
section[class="admin-dashboard-section-page"]
  :is(article)
  > div
  :where(section)
  > p {
  font-size: 0.8em;
  font-weight: normal;
}
section[class="admin-dashboard-section-page"]
  :is(article)
  > div
  :where(section)
  > aside {
  height: 2em;
}
section[class="admin-dashboard-section-page"]
  :is(article)
  > div
  :where(section)
  > aside
  :where(button) {
  height: 3em;
  width: 2em;
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 80%);
  cursor: pointer;
  font-size: 1em;
}
section[class="admin-dashboard-section-page"]
  :is(article)
  > div
  :where(section)
  > aside
  :where(a)
  > button {
  height: 3em;
  width: 2em;
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 80%);
  cursor: pointer;
  font-size: 1em;
}

/*  */
section[class="upload-form"] {
  min-height: 100vh;
  width: min(100%, 100%);
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  background: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 5;
  /* background-color: var(--primary-color); */
}
section[class="upload-form"] > form {
  height: 20em;
  width: min(90%, 30em);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: rgba(255, 255, 255, 225);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  border: 1px solid rgba(255, 255, 255, 0.3); */
  border-radius: 0.5em;
  background-color: #fff;
  position: relative;
  color: #000
}
section[class="upload-form"] > form :is(h1) {
  font-size: 1.4em;
  font-weight: normal;
}
section[class="upload-form"] > form :is(input[type="text"]) {
  height: 3em;
  width: min(90%, 90%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.2em;
  background-color: transparent;
}
section[class="upload-form"] > form :is(input[type="file"]) {
  height: 3em;
  width: min(90%, 90%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.2em;
  background-color: transparent;
}
section[class="upload-form"] > form :is(input[type="text"])::placeholder {
  color: #000
}
section[class="upload-form"] > form :is(select) {
  height: 3em;
  width: min(90%, 90%);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.2em;
  background-color: transparent;
  color: #000;
}
section[class="upload-form"] > form :is(select) > option {
  color: #000;
}
section[class="upload-form"] > form :is(button) {
  height: 3em;
  width: min(90%, 10em);
  border: none;
  border-radius: 10em;
  color: #fff;
  background-color: var(--primary-color);
  cursor: pointer;
}
section[class="upload-form"] > form :is(span) {
  font-weight: bold;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.2em;
  cursor: alias;
  color: #000;
}
section[class="upload-form"] > form :is(div) {
  min-height: 0.2em;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0.6em;
  color: #000;
  font-size: 0.9em;
}
.warning {
  font-size: 0.8em;
  font-weight: normal;
  color: red;
}
.warning-div {
  height: 60vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.warning-div > p {
  font-size: clamp(5vh, 3em, 4em);
  color: hsl(0, 0%, 85%);
  font-weight: bold;
  text-align: center;
}

/*  */
.secondary-navigation-bar {
  height: 5em;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: hsl(0, 0%, 10%);
}
.secondary-navigation-bar > div {
  height: 3em;
  width: min(90%, 90%);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  background-color: hsl(0, 0%, 10%);
  color: #fff;
}
.secondary-navigation-bar > div :is(a) {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
  color: #fff;
  font-size: 1.5em;
  font-weight: normal;
}
.secondary-navigation-bar > div :is(a) > h1 {
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-color: none;
  color: hsl(0, 0%, 100%);
  font-size: 1.1em;
  font-weight: bold;
}


/*  */
.img-wrapper {
  min-height: 90vh;
  width: min(100%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid red; */
  gap: .0em;
}
.img-wrapper > img {
  aspect-ratio: 10/10;
  width: min(100%, 20em);
}
.img-wrapper > p {
  font-size: .9em;
  font-weight: normal;
  color: hsl(0, 0%, 20%);
  text-align: center;
}